.container(ng-controller="userController")
    .row
        form(name="signUpForm")
            div.form-group
                label(for="name") Username
                    input#name.form-control(type="text", name="name", placeholder="Name", ng-model="user.username", autofocus, required)
                    span.text-danger(ng-show="signUpForm.name.$error.required") Name is required.

            div.form-group
                label(for="password") Password
                    input#password.form-control(type="password", name="password", placeholder="Password", ng-model="user.password", required, ng-minlength="5")
                    span.text-danger(ng-show="signUpForm.password.$error.required") Password cannot be empty.
                    span.text-danger(ng-show="signUpForm.password.$error.minlength") Password must be at least 5 characters.

            button.btn.btn-small.btn-primary(ng-click="createUser(user)", ng-disabled="signUpForm.$invalid") Create User