.navbar-right(ng-controller="mvNavBarLoginCtrl as navVM" ng-cloak)
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username,password)") Sign in
        //OAuth is called directly. target="_self" makes sure that the server is targeted directly.
        //(without this Angular Routing takes over)
        a.btn.btn-social-icon.btn-md.btn-twitter(target="_self" href="/oauth/twitter" role ="button")
            i.fa.fa-twitter
        a.btn.btn-social-icon.btn-md.btn-facebook(target="_self" href="/oauth/facebook" role ="button")
            i.fa.fa-facebook
        a.btn.btn-social-icon.btn-md.btn-google(target="_self" href="/oauth/google" role="button")
            i.fa.fa-google
        a.btn.btn-primary(href="/signup" role="button" ng-hide="navVM.isActive('/signup')") New User
        a.btn.btn-default(href="/passwordRecovery" role="button" ng-hide="navVM.isActive('/passwordRecovery')") Psw Recovery
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isCommentator()")
                    a(href="/commentator/profile") Profile
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/dashboard") Admin Dashboard
                li
                    a(href="", ng-click="signout()") Sign Out