.navbar-right(ng-controller="mvNavBarLoginCtrl as navVM" ng-cloak)
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        a.btn.btn-primary(href="/login" role="button") Sign in

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isCommentator()")
                    a(href="/commentator/profile") Profile
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/dashboard") Admin Dashboard
                li
                    a(href="", ng-click="signout()") Sign Out