//
   Created by Liga on 27-02-2016.

.container(ng-controller='dashboardController')
    .row
        .panel.panel-default
            .panel-body
                ul.list-group
                    li(ng-show="identity.currentUser.isAdmin()")
                        a.btn.btn-primary(href="/admin/users" role="button") Users
                    li
                        a.btn.btn-primary(href="/content" role="button") Content
                    li
                        a.btn.btn-primary(href="/admin/categories" role="button") Categories
                    li
                        a.btn.btn-primary(href="/admin/tags" role="button") Tags

