script(type="text/javascript" ,src="./lib/jquery/dist/jquery.js")
script(type="text/javascript" ,src="./lib/angular/angular.min.js")
script(type="text/javascript" ,src="./lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" ,src="./js/app.module.js")
script(type="text/javascript" ,src="./js/controller/userController.js")
script(type="text/javascript" ,src="./js/app.service.js")

