body {
    padding-top: 61px;
}

.navbar-header a.navbar-brand {
    margin-top: -15px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    border-top: 1px solid #d7e0e2;
}

.navbar-form .form-group {
    margin-left: 10px;
}
.navbar-form button {
    margin-left: 10px;
}

.toast-success{
    background-color: #13987e;
}

.btn-is-disabled {
    pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
    opacity: 0.5;
}
