.container(ng-controller="passwordRecoveryController")
    .row
        h2 {{vm.title}}
    .row
        form(name="passwordRecoveryForm")
            div.form-group
                label(for="name") Username
                    input#name.form-control(type="text", name="name", placeholder="Name", ng-model="vm.user.username", autofocus, required)
            div.form-group
                label(for="email") Email
                    input#email.form-control(type="text", name="email", placeholder="Name", ng-model="vm.user.email", autofocus, required)

            button.btn.btn-small.btn-primary(ng-click="vm.recoverPassword(vm.user)", ng-disabled="passwordRecoveryForm.$invalid") Submit
            button.btn.btn-small.btn-default Cancel