.container(ng-controller="passwordRecoveryController")
    .row
        h2 {{vm.title}}
    .row
        form(name="passwordResetForm")
            div.form-group
                label(for="password") Password
                    input#password.form-control(type="text", name="password", placeholder="password", ng-model="vm.reset.password", autofocus, required)
            div.form-group
                label(for="password-again") Password again
                    input#password-again.form-control(type="text", name="password-again", placeholder="password-again", ng-model="vm.reset.password2", autofocus, required)

            button.btn.btn-small.btn-primary(ng-click="vm.resetPassword(vm.reset)", ng-disabled="passwordResetForm.$invalid") Submit
            button.btn.btn-small.btn-default Cancel