
<div ng-controller="passwordRecoveryController" class="container">
  <div class="row">
    <h2>{{vm.title}}</h2>
  </div>
  <div class="row">
    <form name="passwordRecoveryForm">
      <div class="form-group">
        <label for="name">Username
          <input id="name" type="text" name="name" placeholder="Name" ng-model="vm.user.username" autofocus="autofocus" required="required" class="form-control"/>
        </label>
      </div>
      <div class="form-group">
        <label for="email">Email
          <input id="email" type="text" name="email" placeholder="Name" ng-model="vm.user.email" autofocus="autofocus" required="required" class="form-control"/>
        </label>
      </div>
      <button ng-click="vm.recoverPassword(vm.user)" ng-disabled="passwordRecoveryForm.$invalid" class="btn btn-small btn-primary">Submit</button>
      <button class="btn btn-small btn-default">Cancel</button>
    </form>
  </div>
</div>