.container(ng-controller='userController')
    .row
        form(ng-init="getUser(vm.userId)")
            div.form-group
                p {{userId}}
                label(for="name") Username
                    input#name.form-control(type="text", name="name", placeholder="Name", ng-model="User.username", autofocus)

            div.form-group
                label(for="password") Password
                    input#password.form-control(type="text", name="password", placeholder="Password", ng-model="User.password")

            button.btn.btn-small.btn-primary(ng-click="updateUser(User)") Update User