
<div ng-controller="userController" class="container">
  <div class="row">
    <form ng-init="getUser(vm.userId)">
      <div class="form-group">
        <p>{{userId}}</p>
        <label for="name">Username
          <input id="name" type="text" name="name" placeholder="Name" ng-model="User.username" autofocus="autofocus" class="form-control"/>
        </label>
      </div>
      <div class="form-group">
        <label for="password">Password
          <input id="password" type="text" name="password" placeholder="Password" ng-model="User.password" class="form-control"/>
        </label>
      </div>
      <div class="form-group">
        <label for="firstName">First Name
          <input type="text" id="firstName" name="firstName" placeholder="First Name" ng-model="user.firstName" class="form-control"/>
        </label>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name
          <input type="text" id="lastName" name="lastName" placeholder="Last Name" ng-model="user.lastName" class="form-control"/>
        </label>
      </div>
      <button ng-click="updateUser(User)" class="btn btn-small btn-primary">Update User</button>
    </form>
  </div>
</div>