
<div ng-controller="userController" class="container">
  <div class="row">
    <h1>Admin Panel with CRUD functionality</h1>
    <table ng-model="Users" ng-init="getUsers()" class="table table-bordered">
      <thead>
        <th>_Id</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in Users">
          <td>{{user._id}}</td>
          <td>{{user.firstName + " " + lastName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.hashed_pwd}}</td>
          <td><a href="/admin/users/edit/{{user._id}}" class="btn btn-success btn-block">Edit</a></td>
          <td>
            <button ng-click="deleteUser(user._id)" class="btn btn-danger btn-block">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Create user</h2>
    <form>
      <div class="form-group">
        <label for="name">Username
          <input id="name" type="text" name="name" placeholder="Name" ng-model="user.username" autofocus="autofocus" class="form-control"/>
        </label>
      </div>
      <div class="form-group">
        <label for="password">Password
          <input type="password" id="password" name="password" placeholder="Password" ng-model="user.password" class="form-control"/>
        </label>
      </div>
      <button ng-click="createUser(user)" class="btn btn-small btn-warning">Create User</button>
    </form>
  </div>
</div>