.container(ng-controller='userController')
    .row
        h1 Admin Panel with CRUD functionality

        table.table.table-bordered(ng-model="Users", ng-init="getUsers()")
            thead
                th Name
                th Login Medium
                th UserName
                th Role
                th Update
                th Delete
            tbody
                tr( ng-repeat="user in Users")
                    td {{user.firstName + "-" + user.lastName}}
                    td {{user.provider}}
                    td {{user.username}}
                    td(ng-repeat="role in user.roles") {{role}}
                    td
                        a.btn.btn-success.btn-block(href="/admin/users/edit/{{user._id}}") Edit
                    td
                        button.btn.btn-danger.btn-block(ng-click="deleteUser(user._id)") Delete

        h2 Create user

        form
            div.form-group
                label(for="name") Username
                    input#name.form-control(type="text", name="name", placeholder="Name", ng-model="user.username", autofocus)

            div.form-group
                label(for="password") Password
                    input.form-control(type="password", id="password", name="password", placeholder="Password", ng-model="user.password")

            div.form-group
                label(for="firstName") First Name
                    input.form-control(type="text", id="firstName", name="firstName", placeholder="First Name", ng-model="user.firstName")

            div.form-group
                label(for="lastName") Last Name
                    input.form-control(type="text", id="lastName", name="lastName", placeholder="Last Name", ng-model="user.lastName")
            button.btn.btn-small.btn-warning( ng-click="createUser(user)") Create User
