extends layout

block content
    .container
        .row
            h2 User Administration
        .row(ng-app="admin", ng-controller="userAdministrationController")
            button.btn.btn-default(type="button") Create User
            table
                tr
                    th Username
                    th Name
                tr
                    td(ng-repeat="username in user") {{username}}
                    td(ng-repeat="password in user") {{password}}

