.navbar-right(ng-controller="mvNavBarLoginCtrl as navVM")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username,password)") Sign in
        a.btn.btn-primary(target="_self" href="/oauth/twitter" rolenodemon ="button") Twitter
        a.btn.btn-primary(href="/signup" role="button" ng-hide="navVM.isActive('/signup')") New User
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/user") User Admin
                li
                    a(href="", ng-click="signout()") Sign Out