
<div ng-controller="userController" class="container">
  <div class="row">
    <form name="signUpForm">
      <div class="form-group">
        <label for="name">Username
          <input id="name" type="text" name="name" placeholder="Name" ng-model="user.username" autofocus="autofocus" required="required" class="form-control"/><span ng-show="signUpForm.name.$error.required" class="text-danger">Name is required.</span>
        </label>
      </div>
      <div class="form-group">
        <label for="password">Password
          <input id="password" type="password" name="password" placeholder="Password" ng-model="user.password" required="required" ng-minlength="5" class="form-control"/><span ng-show="signUpForm.password.$error.required" class="text-danger">Password cannot be empty.</span><span ng-show="signUpForm.password.$error.minlength" class="text-danger">Password must be at least 5 characters.</span>
        </label>
      </div>
      <div class="form-group">
        <label for="firstName">First Name
          <input id="firstName" type="text" name="firstName" placeholder="First Name" ng-model="user.firstName" required="required" class="form-control"/><span ng-show="signUpForm.firstName.$error.required" class="text-danger">First Name cannot be empty.</span>
        </label>
      </div>
      <div class="form-group">
        <label for="lastName">First Name
          <input id="lastName" type="text" name="lastName" placeholder="Last Name" ng-model="user.lastName" required="required" class="form-control"/><span ng-show="signUpForm.lastName.$error.required" class="text-danger">Last Name cannot be empty.</span>
        </label>
      </div>
      <button ng-click="createUser(user)" ng-disabled="signUpForm.$invalid" class="btn btn-small btn-primary">Create User</button>
    </form>
  </div>
</div>