doctype
html
    head
        title CoolGroupName -Mandatory Assignment
        base(href="/")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts