nav.navbar.navbar-default
    div.container-fluid
    div.navbar-header
        a.navbar-brand(href="/", title="brand") CoolGrpName
    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
            li
              a(href="/", title="home") Home
            li
              a(href="/auth/login", title="login") Login
            li
              a(href="/auth/register", title="register") Register
            li
              a(href="/AdminPanel") AdminPanel