
<div ng-controller="contentController" class="container">
  <div class="row">
    <h2>New Post
      <form>
        <div class="form-group">
          <label for="title">Title
            <input id="name" type="text" name="title" placeholder="Title" ng-model="content.title" autofocus="autofocus" class="form-control"/>
          </label>
        </div>
        <div class="form-group">
          <label for="headline">Headline
            <input type="headline" id="headline" name="headline" placeholder="Headline" ng-model="content.headline" class="form-control"/>
          </label>
        </div>
        <div class="form-group">
          <label for="article">Article
            <input type="article" id="article" name="article" placeholder="Article" ng-model="content.article" class="form-control"/>
          </label>
        </div>
        <button ng-click="createPost(content)" class="btn btn-small btn-warning">Create Post</button>
      </form>
    </h2>
  </div>
</div>