.container
    .jumbotron
        h1 Some big text
        p Here goes the rest of that text.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")