.container(ng-init="main.getContent()")
    .jumbotron
        a(href="/article/{{main.Content[0]._id}}")
            h1(ng-bind="main.Content[0].title")
        p(ng-bind="main.Content[0].headline")

    .row
        .col-md-12
            div(ng-include="'/partials/main/filters'")
    .row
        .col-md-12
            div(ng-include="'/partials/main/content'")